.profile-container{

display:flex;

justify-content:center;

align-items:center;

padding:60px 20px;

background:#F5F7FB;

min-height:80vh;

}

.profile-card{

width:500px;

background:white;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.12);

transition:.3s;

}

.profile-card:hover{

transform:translateY(-8px);

}

.profile-image{

width:120px;

height:120px;

background:#2563EB;

color:white;

font-size:60px;

display:flex;

justify-content:center;

align-items:center;

border-radius:50%;

margin:auto;

margin-bottom:25px;

}

.profile-card h1{

color:#2563EB;

margin-bottom:10px;

}

.profile-card h3{

color:#555;

margin-bottom:30px;

}

.profile-info{

text-align:left;

margin-bottom:30px;

}

.profile-info p{

margin:14px 0;

font-size:17px;

}

.back-btn{

background:#2563EB;

color:white;

padding:12px 25px;

border:none;

border-radius:10px;

cursor:pointer;

font-size:16px;

transition:.3s;

}

.back-btn:hover{

background:#1E40AF;

}